<div class="container d-flex justify-content-center">
    <div class="card m-2 p-4" >
        <div class="card-header text-center">
            <span class="fa fa-user-circle fa-3x"></span>

            <h5 >Login Here !!!</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="submit()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input 
                    name="email" [(ngModel)] = "form.email"
                  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password"
                  name="password" [(ngModel)] = "form.password"
                  class="form-control" id="exampleInputPassword1">
                </div>
                
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <a href="#">Forgot Password</a>
              </form>


        </div>
    </div>
    
</div>