<div class="container d-flex justify-content-center">
    <div class="card m-2 p-4" >
        <div class="card-header text-center">
            <span class="fa fa-user-plus fa-3x"></span>

            <h5 >Register Here!</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <input type="radio" name="gender" class="mr-2"/>Male
                    <input type="radio" name="gender" class="mr-2"/>Female
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <a href="#">Login here </a>
              </form>


        </div>
    </div>
    
</div>